
<div class="content" role="main">

  <!-- Resources -->
  <h2>Date Picker</h2>
  <div class="card-container">
    <button class="card very-card-small" [class.active]="mode==='day'" (click)="showToday()" tabindex="0">
      <span>Day</span>
    </button>

    <button class="card very-card-small" [class.active]="mode==='week'" (click)="showWeek()" tabindex="0">
      <span>Week</span>
    </button>

    <button class="card very-card-small" [class.active]="mode==='month'" (click)="showMonth()" tabindex="0">
      <span>Month</span>
    </button>

    <button class="card very-card-small" [class.active]="mode==='custom'" (click)="showCustom()" tabindex="0">
      <span>Custom</span>
    </button>
  </div>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <p class="date-display">StartDate:&nbsp;<strong> {{this.selected.startDate | date}}</strong></p>
    <p class="date-display">EndDate:&nbsp;<strong> {{this.selected.endDate | date}}</strong></p>
  </div>
  <div class="card-container">
    <ngx-daterangepicker-material
      (choosedDate)="choosedDate($event)"
      [singleDatePicker]="singleDatePicker"
      [customRangeDirection]="true"
      [startDate]="selected.startDate"
      [endDate]="selected.endDate"
    >
    </ngx-daterangepicker-material>
  </div>
</div>
